In [1]:
import pandas as pd
import numpy as np

In [2]:
#To create a series
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [3]:
#To see the content of series
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range('20200301',periods = 10)

In [5]:
#To print the datetime index
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
#To create a data frame -SANJANA RK
df = pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [7]:
#to display the DataFrame
df

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140
2020-03-05 -1.856638 -3.231653  1.743687 -0.721915
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-08 -0.598637 -0.330759  1.376479 -1.083784
2020-03-09 -0.280665 -0.690525  0.301560  0.272285
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499

In [8]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                  'B':pd.Timestamp('20200301'),
                  'c':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([5]*4,dtype='int32'),
                  'E':pd.Categorical(['true','False','True','False']),
                  'F':'Sanjanark'})

In [9]:
#Our dataframe is 
df1

   A          B    c  D      E          F
0  1 2020-03-01  1.0  5   true  Sanjanark
1  2 2020-03-01  1.0  5  False  Sanjanark
2  3 2020-03-01  1.0  5   True  Sanjanark
3  4 2020-03-01  1.0  5  False  Sanjanark

In [10]:
df1.dtypes

A             int64
B    datetime64[ns]
c           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [12]:
#df.head() results in the first five values in the DataFrame
df.head()

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140
2020-03-05 -1.856638 -3.231653  1.743687 -0.721915

In [13]:
#df.tail() results in the last five values in the DataFrame
df.tail()

                   A         B         C         D
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-08 -0.598637 -0.330759  1.376479 -1.083784
2020-03-09 -0.280665 -0.690525  0.301560  0.272285
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499

In [14]:
df.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [15]:
#To get all the columns from DatFrame
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
#To get NUmPy representation of DataFrame - SANJANA RK
df.to_numpy()

array([[ 0.1698847 ,  0.55604444, -0.49414942,  0.65405489],
       [-1.28380149, -0.79572723,  0.17693468, -0.98474272],
       [-1.04892958, -0.00540285, -1.26876228, -0.21423569],
       [-0.5059155 ,  0.06675449, -1.14327967, -1.99413981],
       [-1.85663828, -3.23165311,  1.74368702, -0.7219146 ],
       [ 0.87671923, -0.72283477, -0.59140377, -0.48866634],
       [ 0.62105637,  0.66702935,  1.11540935, -0.26758682],
       [-0.59863717, -0.33075926,  1.37647889, -1.08378377],
       [-0.28066543, -0.69052512,  0.30155981,  0.27228511],
       [ 1.12827531, -1.09628747, -0.21391177, -1.50049936]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.277865  -0.558336   0.100256  -0.632923
std     0.975973   1.106975   1.041236   0.799018
min    -1.856638  -3.231653  -1.268762  -1.994140
25%    -0.936356  -0.777504  -0.567090  -1.059024
50%    -0.393290  -0.510642  -0.018489  -0.605290
75%     0.508263   0.048715   0.911947  -0.227573
max     1.128275   0.667029   1.743687   0.654055

In [18]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140
2020-03-05 -1.856638 -3.231653  1.743687 -0.721915
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-08 -0.598637 -0.330759  1.376479 -1.083784
2020-03-09 -0.280665 -0.690525  0.301560  0.272285
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499

In [19]:
#To sort by a specific column
df.sort_values(by='D')

                   A         B         C         D
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499
2020-03-08 -0.598637 -0.330759  1.376479 -1.083784
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-05 -1.856638 -3.231653  1.743687 -0.721915
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236
2020-03-09 -0.280665 -0.690525  0.301560  0.272285
2020-03-01  0.169885  0.556044 -0.494149  0.654055

In [20]:
#To get a single column 
df['A']

2020-03-01    0.169885
2020-03-02   -1.283801
2020-03-03   -1.048930
2020-03-04   -0.505915
2020-03-05   -1.856638
2020-03-06    0.876719
2020-03-07    0.621056
2020-03-08   -0.598637
2020-03-09   -0.280665
2020-03-10    1.128275
Freq: D, Name: A, dtype: float64

In [21]:
#To slice
df[0:3]

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236

In [22]:
df[0:]

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140
2020-03-05 -1.856638 -3.231653  1.743687 -0.721915
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-08 -0.598637 -0.330759  1.376479 -1.083784
2020-03-09 -0.280665 -0.690525  0.301560  0.272285
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499

In [23]:
#Usage of label
df.loc[d[0]]

A    0.169885
B    0.556044
C   -0.494149
D    0.654055
Name: 2020-03-01 00:00:00, dtype: float64

In [24]:
df.loc[:,['A','D']]

                   A         D
2020-03-01  0.169885  0.654055
2020-03-02 -1.283801 -0.984743
2020-03-03 -1.048930 -0.214236
2020-03-04 -0.505915 -1.994140
2020-03-05 -1.856638 -0.721915
2020-03-06  0.876719 -0.488666
2020-03-07  0.621056 -0.267587
2020-03-08 -0.598637 -1.083784
2020-03-09 -0.280665  0.272285
2020-03-10  1.128275 -1.500499

In [25]:
df.loc['20200301':'20200303',['B','D']]

                   B         D
2020-03-01  0.556044  0.654055
2020-03-02 -0.795727 -0.984743
2020-03-03 -0.005403 -0.214236

In [26]:
#To get values insdie a dataframe corresponding to one particular field 
df.loc['20200306',['D','A']]

D   -0.488666
A    0.876719
Name: 2020-03-06 00:00:00, dtype: float64

In [27]:
#To get exact value at particular row, here lets say 0th row and column A
df.at[d[0],'A']

0.1698847000436519

In [28]:
#To get the value using position 
df.iloc[3]

A   -0.505915
B    0.066754
C   -1.143280
D   -1.994140
Name: 2020-03-04 00:00:00, dtype: float64

In [29]:
#Boolean indexing
#All the values inside A > 0
df[df['A'] > 0]

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499

In [30]:
#Handling Missing Data
#Step 1 : reindexing 
df2 = df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])

In [31]:
df2.loc[d[0]:d[1], 'E']=1

In [32]:
df2

                   A         B         C         D    E
2020-03-01  0.169885  0.556044 -0.494149  0.654055  1.0
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743  1.0
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236  NaN
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140  NaN

In [33]:
df2.isnull() #true represents null values

                A      B      C      D      E
2020-03-01  False  False  False  False  False
2020-03-02  False  False  False  False  False
2020-03-03  False  False  False  False   True
2020-03-04  False  False  False  False   True

In [34]:
df2.dropna() #entire column having null value has been dropped 
#or
#can simply fill the null value with another value

                   A         B         C         D    E
2020-03-01  0.169885  0.556044 -0.494149  0.654055  1.0
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743  1.0

In [35]:
#Pandas Operations 
#Descriptive Statics Operations, Applying Functions To data, String processing operations, Histogramming

In [36]:
df.mean()

A   -0.277865
B   -0.558336
C    0.100256
D   -0.632923
dtype: float64

In [37]:
df.mean(1)

2020-03-01    0.221459
2020-03-02   -0.721834
2020-03-03   -0.634333
2020-03-04   -0.894145
2020-03-05   -1.016630
2020-03-06   -0.231546
2020-03-07    0.533977
2020-03-08   -0.159175
2020-03-09   -0.099336
2020-03-10   -0.420606
Freq: D, dtype: float64

In [38]:
s = pd.Series([1,2,3,np.nan,4,5,6,7,8,9], index=d).shift(2)

In [39]:
s

2020-03-01    NaN
2020-03-02    NaN
2020-03-03    1.0
2020-03-04    2.0
2020-03-05    3.0
2020-03-06    NaN
2020-03-07    4.0
2020-03-08    5.0
2020-03-09    6.0
2020-03-10    7.0
Freq: D, dtype: float64

In [40]:
df.sub(s, axis='index')

                   A         B         C         D
2020-03-01       NaN       NaN       NaN       NaN
2020-03-02       NaN       NaN       NaN       NaN
2020-03-03 -2.048930 -1.005403 -2.268762 -1.214236
2020-03-04 -2.505915 -1.933246 -3.143280 -3.994140
2020-03-05 -4.856638 -6.231653 -1.256313 -3.721915
2020-03-06       NaN       NaN       NaN       NaN
2020-03-07 -3.378944 -3.332971 -2.884591 -4.267587
2020-03-08 -5.598637 -5.330759 -3.623521 -6.083784
2020-03-09 -6.280665 -6.690525 -5.698440 -5.727715
2020-03-10 -5.871725 -8.096287 -7.213912 -8.500499

In [41]:
df

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.283801 -0.795727  0.176935 -0.984743
2020-03-03 -1.048930 -0.005403 -1.268762 -0.214236
2020-03-04 -0.505915  0.066754 -1.143280 -1.994140
2020-03-05 -1.856638 -3.231653  1.743687 -0.721915
2020-03-06  0.876719 -0.722835 -0.591404 -0.488666
2020-03-07  0.621056  0.667029  1.115409 -0.267587
2020-03-08 -0.598637 -0.330759  1.376479 -1.083784
2020-03-09 -0.280665 -0.690525  0.301560  0.272285
2020-03-10  1.128275 -1.096287 -0.213912 -1.500499

In [42]:
#Apply a few functions 
df.apply(np.cumsum)

                   A         B         C         D
2020-03-01  0.169885  0.556044 -0.494149  0.654055
2020-03-02 -1.113917 -0.239683 -0.317215 -0.330688
2020-03-03 -2.162846 -0.245086 -1.585977 -0.544924
2020-03-04 -2.668762 -0.178331 -2.729257 -2.539063
2020-03-05 -4.525400 -3.409984 -0.985570 -3.260978
2020-03-06 -3.648681 -4.132819 -1.576973 -3.749644
2020-03-07 -3.027625 -3.465790 -0.461564 -4.017231
2020-03-08 -3.626262 -3.796549  0.914915 -5.101015
2020-03-09 -3.906927 -4.487074  1.216475 -4.828730
2020-03-10 -2.778652 -5.583362  1.002563 -6.329229

In [43]:
df.apply(lambda x: x.max() - x.min())

A    2.984914
B    3.898682
C    3.012449
D    2.648195
dtype: float64

In [44]:
#Histogram - representation of distribution of data 
#results in one histogram per column 
s.value_counts()

7.0    1
6.0    1
5.0    1
4.0    1
3.0    1
2.0    1
1.0    1
dtype: int64

In [45]:
#String processing methods - SANJANA RK
s = pd.Series(['sanjana','python','jupyter',np.nan,'perfect','world'])

In [46]:
s.str.upper()

0    SANJANA
1     PYTHON
2    JUPYTER
3        NaN
4    PERFECT
5      WORLD
dtype: object

In [47]:
#Merging 
df = pd.DataFrame(np.random.randn(10,4))

In [48]:
df

          0         1         2         3
0 -0.220679 -1.280015  1.557489  1.232604
1  0.748144  1.391705  0.324192  1.196753
2 -1.268650  0.370896 -1.202786 -1.567179
3  0.715069  0.440402 -1.313458 -1.178726
4  0.596041  2.097968 -1.132565 -0.287113
5 -0.361708  1.056337 -0.013882  0.967121
6  0.289927  0.296617  0.400790 -1.328512
7  1.265471 -1.126959  1.343113 -0.627892
8  0.200272 -0.342240 -0.647832  1.881603
9  2.150338  2.041357 -0.468863 -1.519601

In [49]:
df2 = [df[:3], df[3:7], df[7:]]

In [50]:
df2

[          0         1         2         3
 0 -0.220679 -1.280015  1.557489  1.232604
 1  0.748144  1.391705  0.324192  1.196753
 2 -1.268650  0.370896 -1.202786 -1.567179,
           0         1         2         3
 3  0.715069  0.440402 -1.313458 -1.178726
 4  0.596041  2.097968 -1.132565 -0.287113
 5 -0.361708  1.056337 -0.013882  0.967121
 6  0.289927  0.296617  0.400790 -1.328512,
           0         1         2         3
 7  1.265471 -1.126959  1.343113 -0.627892
 8  0.200272 -0.342240 -0.647832  1.881603
 9  2.150338  2.041357 -0.468863 -1.519601]

In [51]:
pd.concat(df2)

          0         1         2         3
0 -0.220679 -1.280015  1.557489  1.232604
1  0.748144  1.391705  0.324192  1.196753
2 -1.268650  0.370896 -1.202786 -1.567179
3  0.715069  0.440402 -1.313458 -1.178726
4  0.596041  2.097968 -1.132565 -0.287113
5 -0.361708  1.056337 -0.013882  0.967121
6  0.289927  0.296617  0.400790 -1.328512
7  1.265471 -1.126959  1.343113 -0.627892
8  0.200272 -0.342240 -0.647832  1.881603
9  2.150338  2.041357 -0.468863 -1.519601

In [52]:
#Left and right join
left = pd.DataFrame({'A':[1,2], 'B': [3,4]})

In [53]:
right = pd.DataFrame({'A':[3,2], 'D':[4,5]})

In [54]:
left

   A  B
0  1  3
1  2  4

In [55]:
right

   A  D
0  3  4
1  2  5

In [56]:
pd.merge(left,right, on='A')

   A  B  D
0  2  4  5

In [57]:
#Grouping
df

          0         1         2         3
0 -0.220679 -1.280015  1.557489  1.232604
1  0.748144  1.391705  0.324192  1.196753
2 -1.268650  0.370896 -1.202786 -1.567179
3  0.715069  0.440402 -1.313458 -1.178726
4  0.596041  2.097968 -1.132565 -0.287113
5 -0.361708  1.056337 -0.013882  0.967121
6  0.289927  0.296617  0.400790 -1.328512
7  1.265471 -1.126959  1.343113 -0.627892
8  0.200272 -0.342240 -0.647832  1.881603
9  2.150338  2.041357 -0.468863 -1.519601

In [58]:
df.groupby(2).sum()

                  0         1         3
2
-1.313458  0.715069  0.440402 -1.178726
-1.202786 -1.268650  0.370896 -1.567179
-1.132565  0.596041  2.097968 -0.287113
-0.647832  0.200272 -0.342240  1.881603
-0.468863  2.150338  2.041357 -1.519601
-0.013882 -0.361708  1.056337  0.967121
 0.324192  0.748144  1.391705  1.196753
 0.400790  0.289927  0.296617 -1.328512
 1.343113  1.265471 -1.126959 -0.627892
 1.557489 -0.220679 -1.280015  1.232604

In [59]:
df.groupby([2,3]).sum()

                            0         1
2         3
-1.313458 -1.178726  0.715069  0.440402
-1.202786 -1.567179 -1.268650  0.370896
-1.132565 -0.287113  0.596041  2.097968
-0.647832  1.881603  0.200272 -0.342240
-0.468863 -1.519601  2.150338  2.041357
-0.013882  0.967121 -0.361708  1.056337
 0.324192  1.196753  0.748144  1.391705
 0.400790 -1.328512  0.289927  0.296617
 1.343113 -0.627892  1.265471 -1.126959
 1.557489  1.232604 -0.220679 -1.280015

In [60]:
#Returns reshaped index using stack 
my_tuple = list(zip(*[[1,2,3,4,5,17,18,19], [11,12,13,6,7,8,9,10]]))

In [61]:
index = pd.MultiIndex.from_tuples(my_tuple, names= ['First','Second'])

In [63]:
df = pd.DataFrame(np.random.randn(8,2), index = index, columns=['A','B'])

In [64]:
df2 = df[:4]

In [65]:
df2

                     A         B
First Second
1     11      0.690549 -0.902069
2     12     -1.284592  2.305042
3     13      0.573973 -0.032499
4     6       0.988692 -0.375210

In [70]:
a = df2.stack()

In [71]:
a.unstack()

                     A         B
First Second
1     11      0.690549 -0.902069
2     12     -1.284592  2.305042
3     13      0.573973 -0.032499
4     6       0.988692 -0.375210

In [74]:
df = pd.DataFrame({'A':['a','b','c','d'] * 3,
                    'B': ['A','B','C'] * 4,
                    'C': ['P','P','P','Q','Q','Q'] * 2,
                    'D': np.random.randn(12),
                    'E': np.random.randn(12)})

In [75]:
df

    A  B  C         D         E
0   a  A  P  0.883159 -0.125656
1   b  B  P  0.267168 -1.622539
2   c  C  P  1.254403  0.752582
3   d  A  Q  0.436068 -1.862009
4   a  B  Q  0.458220 -0.779752
5   b  C  Q -0.607209  0.858233
6   c  A  P -1.475815  0.805480
7   d  B  P  0.383068  0.547295
8   a  C  P -0.723595 -0.598531
9   b  A  Q  1.609224  0.339987
10  c  B  Q  0.359862 -0.643700
11  d  C  Q  1.602707  0.579165

In [77]:
pd.pivot_table(df, values='D', index=['A','B'], columns = ['C'])

C           P         Q
A B
a A  0.883159       NaN
  B       NaN  0.458220
  C -0.723595       NaN
b A       NaN  1.609224
  B  0.267168       NaN
  C       NaN -0.607209
c A -1.475815       NaN
  B       NaN  0.359862
  C  1.254403       NaN
d A       NaN  0.436068
  B  0.383068       NaN
  C       NaN  1.602707

In [78]:
#Time Series and Categorial Data 
dates = pd.date_range('3/3/2020', periods = 100, freq = 's')

In [79]:
dates

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09',
               '2020-03-01 00:00:10', '2020-03-01 00:00:11',
               '2020-03-01 00:00:12', '2020-03-01 00:00:13',
               '2020-03-01 00:00:14', '2020-03-01 00:00:15',
               '2020-03-01 00:00:16', '2020-03-01 00:00:17',
               '2020-03-01 00:00:18', '2020-03-01 00:00:19',
               '2020-03-01 00:00:20', '2020-03-01 00:00:21',
               '2020-03-01 00:00:22', '2020-03-01 00:00:23',
               '2020-03-01 00:00:24', '2020-03-01 00:00:25',
               '2020-03-01 00:00:26', '2020-03-01 00:00:27',
               '2020-03-01 00:00:28', '2020-03-01 00:00:29',
               '2020-03-01 00:00:30', '2020-03-01 00:00:31',
               '2020-03-01 00:00:32', '2020-03-01 00:00:33',
               '2020-03-01 00:00:34', '2020-03-01 00:00:35',
               '2020-03-01 00:00:36', '2020-03-01 00:00:37',
               '2020-03-01 00:00:38', '2020-03-01 00:00:39',
               '2020-03-01 00:00:40', '2020-03-01 00:00:41',
               '2020-03-01 00:00:42', '2020-03-01 00:00:43',
               '2020-03-01 00:00:44', '2020-03-01 00:00:45',
               '2020-03-01 00:00:46', '2020-03-01 00:00:47',
               '2020-03-01 00:00:48', '2020-03-01 00:00:49',
               '2020-03-01 00:00:50', '2020-03-01 00:00:51',
               '2020-03-01 00:00:52', '2020-03-01 00:00:53',
               '2020-03-01 00:00:54', '2020-03-01 00:00:55',
               '2020-03-01 00:00:56', '2020-03-01 00:00:57',
               '2020-03-01 00:00:58', '2020-03-01 00:00:59',
               '2020-03-01 00:01:00', '2020-03-01 00:01:01',
               '2020-03-01 00:01:02', '2020-03-01 00:01:03',
               '2020-03-01 00:01:04', '2020-03-01 00:01:05',
               '2020-03-01 00:01:06', '2020-03-01 00:01:07',
               '2020-03-01 00:01:08', '2020-03-01 00:01:09',
               '2020-03-01 00:01:10', '2020-03-01 00:01:11',
               '2020-03-01 00:01:12', '2020-03-01 00:01:13',
               '2020-03-01 00:01:14', '2020-03-01 00:01:15',
               '2020-03-01 00:01:16', '2020-03-01 00:01:17',
               '2020-03-01 00:01:18', '2020-03-01 00:01:19',
               '2020-03-01 00:01:20', '2020-03-01 00:01:21',
               '2020-03-01 00:01:22', '2020-03-01 00:01:23',
               '2020-03-01 00:01:24', '2020-03-01 00:01:25',
               '2020-03-01 00:01:26', '2020-03-01 00:01:27',
               '2020-03-01 00:01:28', '2020-03-01 00:01:29',
               '2020-03-01 00:01:30', '2020-03-01 00:01:31',
               '2020-03-01 00:01:32', '2020-03-01 00:01:33',
               '2020-03-01 00:01:34', '2020-03-01 00:01:35',
               '2020-03-01 00:01:36', '2020-03-01 00:01:37',
               '2020-03-01 00:01:38', '2020-03-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [85]:
ts = pd.Series(np.random.randint(0,500,len(dates)), dates)

In [86]:
ts.resample('5min').sum()

2020-03-01    23724
Freq: 5T, dtype: int32

In [87]:
#Time zone representation
dates = pd.date_range('3/3/2020 00:00', periods = 5, freq = 's')

In [89]:
ts = pd.Series(np.random.randn(len(dates)), dates)

In [90]:
ts

2020-03-03 00:00:00   -0.731219
2020-03-03 00:00:01    0.248852
2020-03-03 00:00:02    0.067519
2020-03-03 00:00:03    1.581122
2020-03-03 00:00:04   -0.727606
Freq: S, dtype: float64

In [91]:
ts_utc = ts.tz_localize('UTC')

In [92]:
ts_utc

2020-03-03 00:00:00+00:00   -0.731219
2020-03-03 00:00:01+00:00    0.248852
2020-03-03 00:00:02+00:00    0.067519
2020-03-03 00:00:03+00:00    1.581122
2020-03-03 00:00:04+00:00   -0.727606
Freq: S, dtype: float64

In [93]:
ts_utc.tz_convert('US/Eastern')

2020-03-02 19:00:00-05:00   -0.731219
2020-03-02 19:00:01-05:00    0.248852
2020-03-02 19:00:02-05:00    0.067519
2020-03-02 19:00:03-05:00    1.581122
2020-03-02 19:00:04-05:00   -0.727606
Freq: S, dtype: float64

In [95]:
dates = pd.date_range('3/3/2020', periods = 5, freq = 'M')

In [96]:
ts = pd.Series(np.random.randn(len(dates)), dates)

In [97]:
ts

2020-03-31   -0.823866
2020-04-30   -0.718672
2020-05-31   -1.347830
2020-06-30    0.147611
2020-07-31    1.530937
Freq: M, dtype: float64

In [98]:
ps = ts.to_period()

In [99]:
ps

2020-03   -0.823866
2020-04   -0.718672
2020-05   -1.347830
2020-06    0.147611
2020-07    1.530937
Freq: M, dtype: float64

In [100]:
ps.to_timestamp()

2020-03-01   -0.823866
2020-04-01   -0.718672
2020-05-01   -1.347830
2020-06-01    0.147611
2020-07-01    1.530937
Freq: MS, dtype: float64

In [104]:

#Categoricals
df = pd.DataFrame({'id': [1,2,3,4,5,6],
                   "grade": ['a','b','c','b','a','e']
                             })

In [105]:
df

   id grade
0   1     a
1   2     b
2   3     c
3   4     b
4   5     a
5   6     e

In [106]:
df['Grade'] = df['grade'].astype("category")

In [109]:
df["Grade"].cat.categories = ['good','very bad', 'very good', 'excellent']

In [110]:
df['Grade'] = df["Grade"].cat.set_categories(["very good","bad","very bad","good","better luck next time","outstanding"])

In [111]:
df["Grade"]

0         good
1     very bad
2    very good
3     very bad
4         good
5          NaN
Name: Grade, dtype: category
Categories (6, object): [very good, bad, very bad, good, better luck next time, outstanding]

In [112]:
import matplotlib.pyplot as plt

In [113]:
plt.close('all')

In [114]:
ts = pd.Series(np.random.randn(500), index = pd.date_range('1/2/2020',periods=500))

In [115]:
ts = ts.cumsum()

In [117]:
ts.plot

In [118]:
ts

2020-01-02   -0.814206
2020-01-03   -1.435675
2020-01-04   -1.776010
2020-01-05   -1.367583
2020-01-06   -1.106420
                ...
2021-05-11   -0.015181
2021-05-12    0.998712
2021-05-13    1.556202
2021-05-14    0.875758
2021-05-15    1.477539
Freq: D, Length: 500, dtype: float64

In [119]:
ts.to_csv("ts.csv")